@model Humancare.Data.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Bill</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.treatmentId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.treatmentId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dateOfBill)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateOfBill)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
