<h3 class="h3">Patient Room Booking and Management</h3>
        <div id="buttons">
            <a class="button" href="@Url.Action("RoomAvailability","PatientRoomBooking")">Room Availability</a>
            <a class="button" href="@Url.Action("RoomBooking", "PatientRoomBooking")">Room Booking</a> 
            <a class="button" href="@Url.Action("RoomModification", "PatientRoomBooking")">Room Modification</a> 
            <a class="button" href="@Url.Action("PatientInRoom", "PatientRoomBooking")">Patient info in room</a>
            <a class="button" href="@Url.Action("Others", "PatientRoomBooking")">Other details</a> 
        </div>
