@model IEnumerable<Humancare.Data.Specialization>

@{
    ViewBag.Title = "Specialization Details";
}
@Html.Partial("DoctorNavigationPartial")
<h2>Specialization Details</h2>

<p>
    @Html.ActionLink("Create New Specialization", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.specialization)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.specialization)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
