@model Humancare.Data.Doctor
@using Humancare.Data;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
@Html.Partial("DoctorNavigationPartial")
    <fieldset>
        <legend>Doctor</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.name)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.dob)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.dob)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.gender)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.gender)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.phone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.phone)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.email)
        </div>
    
       
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.nationality)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.nationality)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.icNum)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.icNum)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.street)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.street)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.area)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.area)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.country)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.country)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.postalCode)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.postalCode)
        </div>
         <div class="display-field">
         @Html.DisplayNameFor(model => model.Specializations)
         </div>
         <div class="display-field">
                
                    @foreach (var speci in Model.Specializations)
                    {
                @Html.DisplayFor(specialization => speci.specialization) 
                
                    }
                
            </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
